openapi: 3.0.3
servers:
  - url: http://www.dosa.or.jp
info:
  description: RESTful API of DOSA管理システム
  version: v1
  title: DOSA管理API
  contact: {}
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
tags:
  - name: DosaAdmin
    description: DOSA管理API
components:
  schemas:
    Participant:
      $ref: "./components/schemas/participant.yml#/Schema"
    Measurement:
      $ref: "./components/schemas/measurement.yml#/Schema"
    Report:
      $ref: "./components/schemas/report.yml#/Schema"
    MeasurementList:
      $ref: "./components/schemas/measurementList.yml#/Schema"
    MeasurementSingle:
      $ref: "./components/schemas/measurementSingle.yml#/Schema"
    MeasurementMeetRequest:
      $ref: "./components/schemas/measurementMeetRequest.yml#/Schema"
    MeasurementMeet:
      $ref: "./components/schemas/measurementMeet.yml#/Schema"
    Ranking:
      $ref: "./components/schemas/ranking.yml#/Schema"
paths:
  /sp/if/send_test_mail.php:
    $ref: "./components/paths/sendTestMail.yml#/SendTestMail"
  /sp/if/participants.php:
    $ref: "./components/paths/participants.yml#/Participants"
  /sp/if/measurement.php:
    $ref: "./components/paths/measurement.yml#/Measurement"
  /sp/if/report.php:
    $ref: "./components/paths/report.yml#/Report"
  /sp/if/measurement_list.php:
    $ref: "./components/paths/measurementList.yml#/MeasurementList"
  /sp/if/measurement_single.php:
    $ref: "./components/paths/measurementSingle.yml#/MeasurementSingle"
  /sp/if/measurement_meet_request.php:
    $ref: "./components/paths/measurementMeetRequest.yml#/MeasurementMeetRequest"
  /sp/if/measurement_meet.php:
    $ref: "./components/paths/measurementMeet.yml#/MeasurementMeet"
  /sp/if/ranking.php:
    $ref: "./components/paths/ranking.yml#/Ranking"
